/* -----------------------------------------------*/
/*  GLOBAL TERMS:
    SMALL WORDS: color: #414141;
    BACKGROUND COLOR: background-color: #fcfcfc; #e5e5e5; #f0f0f0; #ecf0f1

*/
/* -----------------------------------------------*/

/* -----------------------------------------------*/
/* BASIC SETUP */
/* -----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "Arial", sans-serif;
}

html {
  background-color: #fff;
  color: #414141;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* -----------------------------------------------*/
/* REUSABLE COMPONENTS */
/* -----------------------------------------------*/
.row {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.small-heading {
  font-size: 100%;
  color: #000000;
  margin-left: 2%;
  margin: 1.5%;
  display: inline-block;
}

.all-tickets {
  font-size: 100%;
  margin-left: 2%;
  color: #000000;
  margin: 1.5%;
  display: inline-block;
}

.text-boxes {
  background-color: #ffff;
  border: 1px solid #7e7e7e;
}

/* -----------------------------------------------*/
/* NAVIGATION BAR */
/* -----------------------------------------------*/

.nav-bar {
  vertical-align: top;
  text-align: center;
  font-weight: 400;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ecf0f1;
}

.accenture-head {
  float: left;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 0.5%;
}

.accenture-text {
  padding: 1.2% 0;
  float: left;
}

.accenture-logo {
  height: 30px;
  width: auto;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 1%;
  position: relative;
  display: inline-block;
  margin-right: 5%;
  vertical-align: top;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
  font-size: 80%;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #414141;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #909090;
}

/* -----------------------------------------------*/
/* TICKET HEADING */
/* -----------------------------------------------*/

.user-icon {
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 1%;
  margin-right: 2%;
}

.ticket-enquiry-section {
  background-color: #e8e8e8;
  background-color: cover;
  padding: 1.5%;
}

/* -----------------------------------------------*/
/* FILTER BOX */
/* -----------------------------------------------*/

.current-tickets {
  background-color: #ecf0f1;
  background-size: cover;
}

.filter-text,
.sort-by-text {
  background-color: #fff;
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  padding: 0.5% 1%;
  padding-left: 1.5%;
  font-size: 90%;
}

.arrow-right,
.arrow-down {
  width: 20px;
  height: 20px;
  vertical-align: top;
}

.arrow-right {
  transform: rotate(270deg);
}

.sort-by-text {
  float: right;
}

.filter-box {
  background-color: #fff;
  background-size: cover;
  display: flex;
  margin: 0 2%;
}

.filter-box-2 {
  background-color: #fff;
  background-size: cover;
  display: flex;
  margin: 0 2%;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e5e5e5;
  font-size: 90%;
}
/* -----------------------------------------------*/
/* TICKET REQUEST DETAILS */
/* -----------------------------------------------*/

.request-details {
  font-size: 80%;
  padding: 3% 8%;
  font-weight: 400;
}

.request-details:after {
  display: block;
  height: 1px;
  background-color: #000000;
  content: " ";
  width: inherit;
  margin: 0 auto;
  margin-top: 30px;
}

/* -----------------------------------------------*/
/* TICKET REQUEST LIST */
/* -----------------------------------------------*/

.checkboxIMG {
  display: block;
  margin: 0 auto;
  width: 17px;
  height: 17px;
}

.detail {
  font-size: 80%;
  color: #000000;
  font-weight: 300;
  text-align: left;
}

.request-list-header {
  margin-top: 2%;
  background-color: #e8e8e8;
}

.arrow-down-2 {
  width: 20px;
  height: 20px;
  vertical-align: top;
}

.indiv-checkbox {
  margin: 0.5% 2%;
  width: 17px;
  height: 17px;
}

.checkboxAll {
  display: block;
  margin: 0 auto;
  width: 17px;
  height: 17px;
}

.rows-checkboxNeed {
  display: block;
  margin: 0 auto;
}

.arrow-button {
  float: left;
}

#transparentButton {
  border: none;
  background: rgba(0, 0, 0, 0);
}
