.user-ticket-list-yes-button,
.user-ticket-list-no-button {
  display: inline-block;
  font-size: 90%;
  font-weight: 300;
  border: none;
  background: rgba(0, 0, 0, 0);
}

.yes-button-text {
  text-align: center;
  background-color: #249d3b;
  color: #ffffff;
  text-transform: uppercase;

  padding: 6px 10.5px;
}

.no-button-text {
  text-align: center;
  background-color: #c12b2b;
  color: #ffffff;
  text-transform: uppercase;

  padding: 6px 10.5px;
}

.unable-close {
  padding: 9px 30px;
  color: #000000;
  font-weight: 300;
  text-align: left;
}

.clientStatusArrow {
  margin: 1%;
  margin-left: 0;
}

/* -----------------------------------------------*/
/* CHANGE STATUS POPUP SCREEN */
/* -----------------------------------------------*/

.status-popup-screen {
  background-color: rgba(65, 65, 65, 0.67);
}

.change-status-popup {
  background-color: #ffffff;
  padding: 2%;
  width: 50%;
  margin: 2%;
  font-size: 90%;
}

.change-status-text {
  text-align: justify;
}

.change-status-no-button {
  background-color: #aa0000;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
  opacity: 1;
  width: 10%;
  display: inline-block;
  font-size: 90%;
  margin-top: 5%;
}

.change-status-yes-button {
  background-color: #249d3b;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
  width: 10%;
  display: inline-block;
  float: right;
  font-size: 90%;
  margin-top: 5%;
}

.change-status-no-text {
  margin: 10%;
  text-align: center;
}

.change-status-yes-text {
  margin: 10%;
  text-align: center;
}

#client-status {
  margin-right: -0.8%;
}
